# Specify version format
version: "{build}"

image:
  - Visual Studio 2017

configuration:
  - Debug
  - Release

platform:
  - x86
  - x64

environment:
  matrix:
    - GENERATOR: "Visual Studio 15 2017"
      os: Visual Studio 2017


clone_folder: C:\projects\cio

# branches to build
branches:
  except:
    - gh-pages
    - /^feature.*$/
    - /^fix.*$/

# scripts that run after cloning repository
install:
  - cmd: git submodule update --init --recursive

# scripts to run before build
before_build:
  - cmd: cd C:\projects\cio
  - cmd: md build
  - cmd: cd build
  - cmd: if "%platform%"=="x86" cmake -G "%GENERATOR%" -DCMAKE_BUILD_TYPE=%configuration% ../
  - cmd: if "%platform%"=="x64" cmake -G "%GENERATOR% Win64" -DCMAKE_BUILD_TYPE=%configuration% ../

build:
  parallel: true
  verbosity: minimal

build_script:
  - cmd: cmake --build .

test_script:
  - cmd: ctest -C %configuration% -VV
