[submodule "src/unity"]
	path = src/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "src/fff"]
	path = src/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "src/http-parser"]
	path = src/http-parser
	url = https://github.com/nodejs/http-parser.git
