language: c

branches:
  except:
    - /^feature.*$/

sudo: false

env:
  matrix:
    - CMAKE_C_COMPILER=gcc
      CMAKE_BUILD_TYPE=Release
    - CMAKE_C_COMPILER=gcc-6
      CMAKE_BUILD_TYPE=Release
    - CMAKE_C_COMPILER=clang
      CMAKE_BUILD_TYPE=Release
    - CMAKE_C_COMPILER=clang-3.9
      CMAKE_BUILD_TYPE=Release
    - CMAKE_C_COMPILER=gcc
      CMAKE_BUILD_TYPE=Debug
    - CMAKE_C_COMPILER=gcc-6
      CMAKE_BUILD_TYPE=Debug
    - CMAKE_C_COMPILER=clang
      CMAKE_BUILD_TYPE=Debug
    - CMAKE_C_COMPILER=clang-3.9
      CMAKE_BUILD_TYPE=Debug
    - CMAKE_C_COMPILER=/usr/share/clang/scan-build-3.9/libexec/ccc-analyzer
      CMAKE_BUILD_TYPE=Debug
      SCAN_BUILD=1
      
script:
  - cmake --version
  - mkdir build_release
  - cd build_release
  - CMAKE_CMD_OPTION="-DCMAKE_C_COMPILER=${CMAKE_C_COMPILER} -DCMAKE_BUILD_TYPE=${CMAKE_BUILD_TYPE}"
  - echo $CMAKE_CMD_OPTION
  - cmake $CMAKE_CMD_OPTION ../src/
  - if [ -n "${SCAN_BUILD}" ]; then /usr/lib/llvm-3.9/bin/scan-build --status-bugs make VERBOSE=1; else make VERBOSE=1; fi
  - make test

cache:
  apt: true

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - george-edison55-precise-backports
    - llvm-toolchain-precise-3.9
    packages:
    - clang
    - clang-3.9
    - gcc-6
    - cmake
    - cmake-data
    - doxygen
    - valgrind

