language: c
dist: xenial
sudo: required

branches:
  except:
  - "/^feature.*$/"
  - "/^fix.*$/"
  - "gh-pages"
git:
  depth: 9999999
matrix:
  include:

# Coverity build, must be the first!
  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-5.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    #before_install: echo -n | openssl s_client -showcerts -servername scan.coverity.com -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-certificates.crt
    addons:
      coverity_scan:
        project:
          name: gatzka/cio
          description: Build submitted via Travis CI
        notification_email: stephan.gatzka@gmail.com
        #build_script_url: https://raw.githubusercontent.com/gatzka/cio/coverity_scan/.travisci_build_coverity_scan.sh
        build_command_prepend: cmake -DCMAKE_BUILD_TYPE:STRING=Debug ./
        build_command: make
        branch_pattern: coverity_scan
      apt:
        packages:
        - cmake
        - curl
        - ca-certificates
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-5.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        packages:
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-6.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - cmake
        - cmake-data
        - gcc-6
        - g++-6
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-6.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - cmake
        - cmake-data
        - gcc-6
        - g++-6
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-7.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - cmake
        - cmake-data
        - gcc-7
        - g++-7
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-7.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - cmake
        - cmake-data
        - gcc-7
        - g++-7
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=ON"
    - BUILD_WITH_COVERAGE_INFO=1
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - cmake
        - cmake-data
        - gcc-8
        - g++-8
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-gcc-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_COVERAGE:BOOL=OFF -DCIO_CTEST_DOCUMENTATION:BOOL=ON"
    - CREATE_DOXY=true
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - cmake
        - cmake-data
        - doxygen
        - gcc-8
        - g++-8
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-6.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-6.0
        packages:
        - clang-6.0
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-6.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-6.0
        packages:
        - clang-6.0
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-7.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-7
        packages:
        - clang-7
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-7.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-7
        packages:
        - clang-7
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: gcc
    script:
    - cmake -DCMAKE_C_COMPILER:STRING=gcc -DCMAKE_CXX_COMPILER:STRING=g++ -DCMAKE_BUILD_TYPE:STRING=Debug ./
    - build-wrapper-linux-x86-64 --out-dir bw-output make
    - sonar-scanner
    addons:
      sonarcloud:
        organization: "gatzka-github"
        token:
          secure: "kkXwc7Ysk8DiyP2laG7u416+AFxDs0iVgy64s9bE+kMHnYt4BUgqh96chovoI1DyX+u5dAaxo5AXtGs89gg6RhmrVPger7awfqf74TzqiXgSCSVVeXT7uL6MJULXKNRRGM/ydUvRRA3xpDaFW1yWWymCEJO+dIs/+OcDQl+w9/dlabGgW8KMYG7ZlABUyVKlzFldswYOH3Q4rgboEMqDbvl9BAqMnHDhTX3tV+9eRW1u6K2xnH1FMBeIEy2WxhPgRUp9s2RlwVrOJjKxCV0xO66a6TCMk33zo+0TcUY0m9DCZZT13PkXo1Wr5aoxcUaxkUfkgJIT7IzJ429Cn4dIxQT4HFTWbnaqSat6puHEFGnOUQWf84COxotd7pCBXmqiTQXKmP7wvB95G1kFCq0y6kkuTI9SNPE28k0vrE9CPE/SgWtS7Acm5LVT8ou3Tcn4BqlmkRygMGlIXzdP6jNbSQ+JSS6exwliLRfRHzzR+h41NrD1qkyvxmEUZb5Y9oIKbunXnVgWRsJDToUMWKkh/4IbwkwWPhEKknnb3zNVp6eBrOUr8O/Rzq7vKKaFiZje9nMvXfZ9pEZX+9APtcY31N4SKFNoYAcvGvbFrnUPx5q3XsVrQ74peq0NXJQw3UDe+pEOSvoWwtbs/49TXLJ/N1MGOhjgyPMBKRv8yPevlfY="
      cache:
        directories:
          - '$HOME/.sonar/cache'
      apt:
        packages:
        - cmake
        - cmake-data
        - libbsd-dev

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_ANALYZER:STRING=scan-build-8 -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - clang-tools-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_ANALYZER:STRING=clang-tidy-8 -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Debug -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - clang-tidy-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_SANITIZER:STRING=UndefinedBehaviorSanitizer -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_SANITIZER:STRING=LeakSanitizer -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_SANITIZER:STRING=MemorySanitizer -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build

  - os: linux
    compiler: clang
    env:
    - MATRIX_EVAL="-DCIO_CTEST_TOOLCHAIN_FILE:STRING=$TRAVIS_BUILD_DIR/cmake/x86-linux-clang-8.cmake -DCIO_CTEST_CONFIGURATION_TYPE:STRING=Release -DCIO_CTEST_SANITIZER:STRING=AddressSanitizer -DCIO_CTEST_COVERAGE:BOOL=OFF"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-xenial-8
        packages:
        - clang-8
        - cmake
        - cmake-data
        - libbsd-dev
        - ninja-build



install:
- pip install --user gcovr

script:
- if [ "$COVERITY_SCAN_BRANCH" != 1 ]; then
    ctest -VV -S build.cmake ${MATRIX_EVAL};
  fi

after_success:
- if [ -n "${BUILD_WITH_COVERAGE_INFO}" ]; then
    bash <(curl -s https://codecov.io/bash) -X gcov -s /tmp/cio/ || echo "Codecov did not collect coverage reports";
  fi

- if [ -n "${CREATE_DOXY}" ]; then
    $TRAVIS_BUILD_DIR/scripts/push-doxygen-to-gh-pages.sh ;
  fi

env:
  global:
  - secure: kMI8djmAytx80YQ8MRmXU2X90hV9bXHp9DEUdFplJZE1spTO6p4yl8kb57/nXUZoits70AnNVt93GlZ3FGxCBdzBFdOAhvzMXkWnqjed1JCPS9Kh9b+tlOCPIFzJ6mXn9aBYLHMxACrtqAbTSm8XEri7+aEMdy471PYWD3uf6xIo7wAqscO5tzJOTzPoGhEjvl6eZHr24jemWRBUAvL7al4NcutE7bHeHc3znzo1aQhx5jtL/ukofzXXPwrFUBOj9ujQsMb32lNAdxhNEyCDL1c73p7tf143ZuJ0nJoDEEXfvHxRIPkPQ2g8e5APiJEyIqVzcHugq9KPMjnMpMSDBMyPaY8cgXFcbbRzuWQfsw4OY+Bd3/Lud3iXUeZsVZazGDHolzZWemebz8VvEuVdPOmSei5wCUhkgSnM7rutU4Fsdb5zwG0ZNePh3YBYZy99DBfTUejKXboAHQxxvMJm63RrHb3kGM5jzxXMWL3Xfiaii0cqfctDJ4EIOLnD8HJu+6v0Xw9fZCjx4eFYD9z5uFxjLhXCBGXFEfQ0sGAxf97TJ2RR08/SrG4eRnK4oU0dqU1NKd7I7+wjCY8sOOpuWidXI9wNcqkJpcfmTEbqhr47Co/ojlUSegwxk1FMnd3qMnnKZR4jqTLtAZdsz9fYLgQAhk+Cuk5QVH5pyCGnOrw=
  - secure: kMAAzWLvoiczf17zLmgfd1ILG3qUOXVuDYDi4w5KdweeFHWCQS1AhJcVEpBD/Flbszx4oDv3Z/MH31Ko+ugRSRPlV3SIspk8D1Szq4tuJ39opgU/bZQI6dMnyBSCrjKNoCGHJWR5v7YEMQD0VjYRKQQRziubbyhBbDKrvJQy4ofWlhrRTOeh5pHa6XRpEw/DsMJM0aIu5lTMxH82O6V+QYz07r3gOG3xcfy+WYORIRJDWQJ0Sam7Cw8OZu0cz80dYSXP8JSihHZc0cF8i7qOgBLY56v1huiVLbka/ZRM7+BD44vTEIkx4iDOBJ6Dxf0Sgju8ECIEdiToMoceFPRMX7m1xEC9GD3GchLDoJmy4gic2TjZFtN94X4lM0oGOQayRYtlsUAJrHxDh1GiVvZPXObx9XxFf2ajmotdn0FFKRp70j6OKUaBF7t3nNTVZhnKRfkLgSMnWb0p3CxpNkCMPss1soozgX2cBjqyg2i936eeI6rPPxcDQeRRQjMsUhXv+f6eTVtIZjARoq9UxYMsA8DF6upR+c9KtA7q/KENu0x+ZgoRsM2ej/FFgQrIziyOSMKZJEvzgytViwZpU020k0rsCtu2uo0ERh7Ar8eEUH4h7H1ATcT6zd5db2o2mMjgpxIHX79nleWZbhJ34l14v1qUHGBh4n5hldpB/ScDIqA=

