language: c

branches:
  except:
    - /^feature.*$/

sudo: false

env:
  matrix:
    - CMAKE_C_COMPILER=gcc
      CMAKE_BUILD_TYPE=Release
    - CMAKE_C_COMPILER=gcc-6
      CMAKE_BUILD_TYPE=Release
    - CMAKE_C_COMPILER=clang
      CMAKE_BUILD_TYPE=Release
      
script:
  - cmake --version
  - mkdir build_release
  - cd build_release
  - CMAKE_CMD_OPTION="-DCMAKE_C_COMPILER=${CMAKE_C_COMPILER} -DCMAKE_BUILD_TYPE=${CMAKE_BUILD_TYPE}"
  - echo $CMAKE_CMD_OPTION
  - cmake $CMAKE_CMD_OPTION ../src/
  - make VERBOSE=1
  - make test

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - george-edison55-precise-backports
    - llvm-toolchain-precise
    packages:
    - clang
    - clang-4.0
    - gcc-6
    - cmake
    - cmake-data
    - doxygen
    - valgrind

